@import '../../../assets/metrics.scss';
@import '../../../assets/colors.scss';
@import '../../../assets/responsive.mixin.scss';


.container {
  width: 50vw;
  @include phone{
    width: 80vw;
  }
  .container__title-container {
    width: 100%;
    display: flex;
    align-items: center;

    .container__title-container__business-name {
      font-weight: semi-bold;
    }

    .container__title-container__brand-icon {
      background-image: url('../../../assets/icone-hotel.png');
      width: $triple-pixel;
      height: $triple-pixel;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-left: $pixel;
      @include phone{
        display: none;
      }
    }

    .container__title-container__product-name {
      margin-left: $double-pixel;
      color: $regular-font;
    }

    .container__title-container__open-text {
      @include phone{
        display: none;
      }
      margin-right: $double-pixel;
      color: $highlighted;
      margin-left: auto;
    }
  }

  .container__description-container {
    display: flex;
    @include phone{
      flex-direction: column;
    }

    .container__description-container__text-container {
      color: $regular-font;
      width: 70%;
      @include phone{
        width: 95%;
      }
    }

    .container__description-container__button-container {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      @include phone{
        padding-top: $double-pixel;
        align-items: center;
        justify-content: center;
      }
      .container__description-container__button-container__button {
        background-color: #FED468;
        color: $lighter;
        border: none;
        padding: $pixel $double-pixel;
      }
    }
  }
}
