@import '../../../assets/metrics.scss';
@import '../../../assets/colors.scss';

.container {
  width: 50vw;
  .container__description-container {
    display: flex;
    padding: $double-pixel $triple-pixel;

    .container__description-container__text-container {
      width: 70%;
    }
    .container__description-container__button {
      background-color: #FED468;
      color: $lighter;
      border: none;
      padding: $pixel $double-pixel;
    }
  }
}
