<mat-accordion >
  <mat-expansion-panel class="container">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ product?.businessName }}
      </mat-panel-title>
      <mat-panel-description>
        {{ product?.productName }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="container__description-container">
      <div class="container__description-container__text-container">
        <span>{{product?.productDescription}}</span>
      </div>
      <div>
        <button class="container__description-container__button" (click)="openDialog()">VER MAIS</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>