@import '../../../assets/metrics.scss';
@import '../../../assets/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container__message-container {
    padding-bottom: $triple-pixel;
    text-align: center;
  }

  .container__buttons-row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .container__buttons-row__button-wrapper {
    display: flex;
    justify-content: center;
    padding: 0px $double-pixel;

    button {
      border: none;
      background-color: transparent;
      color: $highlighted;
    }
  }
}