@import '../../../assets/metrics.scss';
@import '../../../assets/responsive.mixin.scss';

.container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to right,#517DE0, #2744DD);
  padding-top: $five-fold-pixel;

  .container-top__logo {
    display: flex;
    width: 150px;
    height: 45px;
    background-image: url('../../../assets/logo.png');
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: $five-fold-pixel;
  }

  .container-top__input {
    width: 30vw;
    @include phone{
      width: 80vw;
    }
    margin-bottom: $five-fold-pixel;
  }
}

.container-bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: linear-gradient(to right,#517DE0, #2744DD);
  position: relative;

  .container-bottom__wave {
    position: absolute;
    top: 10px;
  }
}
