.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  .container__subcontainer--half {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    //background-color: coral;
  }
}